.CompleteList_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.CompleteList_filters {
  height: 3em;
  background-color: white;
  box-shadow: 0 4px 2px -4px grey;
}

.CompleteList_filters  input {
  width: 28em;
}

.CompleteList_list {
  height: calc(100vh - 6em);
  overflow-y: auto;
}
